version: '3.8'


services:
  postgres:
    container_name: db
    image: postgres:17.2
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=demo